# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
jupyter-env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore .csv files
*.csv

# Ignore .pdf files
*.pdf

# Ignore .sql files
*.sql

chatenv
myenv
venv
.env

# Binary files
*.pkl
*.pth
*.joblib